.search-input {
  background-color: inherit;
  border: 1px solid var(--color-search-border);
  box-shadow: 0px 0px 1.5px 0px var(--color-header-text);
  border-radius: 5px;
  color: inherit;
  height: 27px;
  outline: none;
  padding: 5px 15px;
}
.search-input::placeholder {
  color: var(--color-header-text);
  opacity: 0.6;
}
