.header-title {
  font-size: 1.6rem;
  letter-spacing: 1px;
  position: absolute;
  left: 47%;
}
.search-view {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}
.user-details {
  padding-top: 40px;
  padding-right: 40px;
}
.user-avatar {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.user-name {
  font-size: 2.5rem;
  text-align: center;
}
.repo-details {
  padding-top: 30px;
  padding-left: 40px;
  width: 100%;
}
.repo-count {
  border-bottom: 1px solid var(--color-border-primary);
  font-size: 1.8rem;
  padding: 10px 0px 20px 0px;
  text-align: center;
}
.repo-item {
  border: 1px solid var(--color-border-primary);
  border-radius: 5px;
  padding: 20px 32px;
  position: relative;
  margin-top: 10px;
}
.repo-name {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}
.repo-detail {
  font-size: 1.4rem;
  padding: 15px 0;
}
.repo-con {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.repo-stars {
  padding-left: 5px;
  padding-right: 30px;
  font-size: 1.3rem;
}
.icon-star {
  font-size: 1.4rem;
  position: relative;
  bottom: 1px;
}
.icon-book {
  font-size: 1.5rem;
  position: absolute;
  top: 23px;
  left: 12px;
  opacity: 0.75;
}
.repo-date {
  padding-left: 20px;
  font-size: 1.3rem;
}
